<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> 
      <p> RailsChatBot</p>
      <p><i>Current User</i>: <%=@username%></p>
    </div>
    
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
      <%= link_to '注销', controller: 'welcome'  , action: 'index'%>
    </div>
  </header>



  <%= render 'messages/show'  %>

  <%= render 'messages/create'  %>

</section>
