<%= stylesheet_link_tag "welcome" %>


<h1 >Welcome to the Lita ChatRoom!</h1>
<p>一个Lita Chatbot应用的测试版本-version 1.0</p>

<h3>目前功能</h3>
<li>登陆模块，支持注册与登陆的基本功能</li>

<h3>待实现功能</h3>
<li>聊天界面</li>
<li>Lita功能的开发与对接</li> 
<li>界面的美化</li>

<p style='text-align: center;'>
<%= link_to '注册', controller: 'applicants', action: 'new'%>
<%= link_to '登陆', controller: 'sessions'  , action: 'new'%>
</p>